.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f9f9f9;
}
.header__logo {
  height: 40px;
  /* object-fit doesn't distort the image....always use it */
  object-fit: contain;
}

.header__icon {
  padding: 20px;
}
